<h3>Detalles del Profesor</h3>
<div>
    <div>
        <label for=""><b>ID: </b>{{profesor.id}}</label>
    </div>
    <div>
        <label for=""><b>NOMBRE: </b>{{profesor.nombre}}</label>
    </div>
    <div>
        <label for=""><b>APELLIDOS: </b>{{profesor.apellido}}</label>
    </div>
    <div>
        <label for=""><b>ASIGNATURA: </b>{{profesor.asignatura}}</label>
    </div>
    <div>
        <label for=""><b>UNIVERSIDAD: </b>{{profesor.universidad}}</label>
    </div>
    <div>
        <label for=""><b>EDAD: </b>{{profesor.edad}}</label>
    </div>
</div>