
<div class="row justify-content-between">
    <div class="col-4">
        <h2>Lista de Profesores</h2> 
    </div>
    <div class="col-2">
     <button (click) = "adicionar_profesor()" class="btn btn-success">Adicionar</button>
    </div>
  </div>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Asignatura</th>
            <th>Universidad</th>
            <th>Edad</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <div *ngIf="profesores==null">
            <h2>
                No hay profesores registrados!!
            </h2>
        </div>
        <tr *ngFor="let profesor of profesores">
            <td>{{profesor.nombre}}</td>
            <td>{{profesor.apellido}}</td>
            <td>{{profesor.asignatura}}</td>
            <td>{{profesor.universidad}}</td>
            <td>{{profesor.edad}}</td>
            <td>
                <button (click)="modificarProfesor(profesor.id)" class="btn btn-info btn-sm">Modificar</button>
                <button (click)="eliminarProfesor(profesor.id)" class="btn btn-danger btn-sm" style="margin-left: 5px;">Eliminar</button>
                <button (click)="detallesProfesor(profesor.id)" class="btn btn-primary btn-sm" style="margin-left: 5px;">Detalles</button>

            </td>
            
        </tr>
    </tbody>
</table>
